
/*
    class 
*/
.animation_grow {
    transition: transform 0.1s ease;
}
.animation_grow:hover {
    transform: scale(1.1);
}
.animation_grow:active {
    transform: none;
}
.btn_square {   
    min-height: 29px;
    min-width : 29px;
    border-radius: 5px;
    padding: 5px;
}
.btn_square:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.3);
    transition: background-color 0.3 ease;
}
.visibleOnHover {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.visibleOnHover:hover {
    opacity: 1;
}
.hidden {
    display: none;
    /* position: absolute;
    visibility: hidden; 
    width: 0;
    height: 0;*/
}
.center_content {
    display: flex;
    justify-content: center;
    align-items: center;   
}
.icon_micro {
    max-height: 10px;
}
.icon_smaller {
    max-width: 14px;
    max-height: 14px;

}
.icon_small {
    max-width: 16px;
    max-height: 16px;
}
.icon_tini {
    max-width: 18px;
    max-height: 18px;
}
.horizontal_line {
    height: 23px;
    width : 1px;
    background-color: rgba(100, 100, 100, 0.5);
}

.btn_corner {  
    cursor: pointer;    
    height: 50px;
    width : 50px;
}
.btn_corner:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

#frame_window_controls {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
} 
#frame_window_controls div {
    width: 40px;    
    height: 30px;
}
#frame_window_controls div img {
    height: 10px;
}
#btn_maxi_mini:hover {
    background-color: rgba(100, 100, 100, 0.3);
}
#btn_close:hover {
    background-color: rgba(255, 0, 0, 0.7);
}
.underParent {
    z-index: -1;
}
.context_menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.8);
    padding: 13px;    
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
}
.context_menu div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    /* min-width: 200px; */
    border-radius: 5px;
    padding: 5px;
}
.context_menu div:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.3);
}
.context_menu div img{
    margin-right: 7px;
}
.context_menu div:last-child {
    margin-top: 6px;
    border-top: 1px solid rgba(100, 100, 100, 0.3);
}