* {
    margin: 0;
}
html, body {
    overflow: hidden;
    height: 100vh;        
    min-width: 500px;
    color: white;
    background-color: rgb(31, 31, 31); 
    font-family: ink free, courier new;
}

#wrapper {
    position: relative; /* so z-index can work*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*
  menu bar
*/

#menu_bar {
    display: flex;
    position: relative;   
    
    justify-content: space-between;
    align-items: flex-start;

    box-sizing: border-box;
    height: 50px; 
    width: 100%;
    transition: transform 1.0s ease;
    background-color: rgb(31, 31, 31); 
    z-index: 1;
}
#menu_file {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#picture_title {
    color: white;
    font-size: small;
    margin-left: 10px;
}
#frame_input_pics {  
    cursor: pointer;    
    height: 50px;
    width : 50px;
    background-color: rgb(44, 44, 44);
}
#frame_input_pics:hover {
    background-color: rgba(100, 100, 100, 0.3);
}
#btn_input_pics {
    cursor: pointer;
}
#menu_options {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#menu_options * {
    visibility: visible;
}
#frame_window_controls {
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 
#frame_window_controls div {
    width: 40px;    
    height: 30px;
}
#frame_window_controls div img {
    height: 10px;
}
#btn_maxi_mini:hover {
    background-color: rgba(100, 100, 100, 0.3);
}
#btn_close:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

/*
    frame_picture
*/

#frame_picture {
    box-sizing: border-box;
    /* flex-grow: 1; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* overflow: visible; */

     /* moved to the background*/
    z-index: 0;
}
#view_picture {
    /* visibility: hidden; */
    position: relative;
    box-sizing: border-box;  
    max-height: 100%; /*combined with overflow: hidden; on its parent element, allows it to adjust its size to the initial size of the parent*/
    max-width: 100%;
    transition: transform 0.5s ease, scale 0.5s ease;
}
/*
  footer bar
*/
#footer_bar {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box;
    height: 40px; 
    width: 100%;
    background-color: rgb(39, 39, 39);     
    transition: transform 1.0s ease;
    z-index: 2;
}
#footer_options {
    display: flex;
    align-items: center;
}
#zoom_percent {
    margin-right: 7px;
    margin-left: 7px;
}
/*
    controls
*/
#controls {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
    personal note
    controls div, would only select the immediate divs, not the divs contained within each one
*/
#controls div div {
    height: 47px;
    width: 20px;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;

}
#btn_previous, #btn_next {
    /* opacity: 0; */
    transition: opacity 0.3s ease;
}
#btn_previous:hover, #btn_next:hover {
    opacity: 1;
}
#btn_previous {
    margin-left: 7px;
    left: 0;
}
#btn_next {
    margin-right: 7px;
    right: 0;
}

#btn_hide {
    cursor: pointer;
    margin-left: 10px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}
#btn_menu_shift {        
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    /* height: 40px; */
    position: absolute;
    right: 0;
    bottom: 0;
    transition: transform 0.5s ease;
}
#btn_menu_shift:hover {
    transform: rotate(180deg);
}
/*
    class 
*/
.animation_grow {
    transition: transform 0.1s ease;
}
.animation_grow:hover {
    transform: scale(1.1);
}
.animation_grow:active {
    transform: none;
}
.button_background {   
    min-height: 29px;
    min-width : 29px;
    border-radius: 5px;
    padding: 5px;
}
.button_background:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.3);
    transition: background-color 0.3 ease;
}
.visibleOnHover {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.visibleOnHover:hover {
    opacity: 1;
}
.hidden {
    /* position: absolute;
    visibility: hidden; */
    width: 0;
    height: 0;
}
.center_content {
    display: flex;
    justify-content: center;
    align-items: center;   
}
.icon_smaller {
    height: 14px;
}
.icon_small {
    height: 16px;
}
.horizontal_line {
    height: 23px;
    width : 1px;
    background-color: rgba(100, 100, 100, 0.5);
}